main {
    height: calc(100vh - 13vh);
    background: white;
    background-size: cover;
    background-blend-mode: color;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background: url(../img/fundo.jpg) no-repeat;
    background-size: cover;
}

main .mainBox {
    background-color: black;
    width: 60%;
    height: 82%;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-evenly;
}

main .imgLogin {
    height: 60%;
}

main .loginContent {
    height: 75%;
    width: 44%;
    border: 2px solid #ba55d3;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginContent .iconLogin {
    height: 30%;
}

.loginContent form {
    height: 60%;
    width: 78%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mainBox .fullBox {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0.5rem;
    width: 89%;
    height: 12%;
    align-items: center;
    border: 2px solid #ba55d3;
    border-radius: 26px;
}

.mainBox .fullBox i {
    color: purple;
}

.fullBox input {
    width: 75%;
    height: 1rem;
    border: none;
    outline: none;
    padding-left: .5rem;
    background: transparent;
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px black inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

#btn {
    font-size: 0.9rem;
    height: 2rem;
    width: 8rem;
    color: white;
    outline: none;
    background-color: purple;
    border-radius: 15px;
    border: none;
    transition: all 0.6s;
    cursor: pointer;
}

#btn:hover {
    background-color: white;
    color: black;
}

.invisivel {
    display: none;
}

.erros {
    color: red;
    background-color: #fdcfca;
    padding: 3px 7px;
    border: 1px solid red;
    border-radius: 5px;
}

@media only screen and (max-device-width: 425px) {
    main .mainBox {
        width: 90vw;
    }
}